.backgroundTitle {
  font-size: .8rem;
  text-align: center;
  position: fixed;
  top: .8rem;
  color: #fff;
  left: 50%;
  width: 10rem;
  transform: translateX(-50%);
}
.mainTitle{
  font-size: .9rem;
  text-align: center;
  position: fixed;
  top: .4rem;
  color: #fff;
  left: 50%;
  width: 10rem;
  transform: translateX(-50%);
}
